.DS_Store
.DS_Store
input/
env/
.vscode/
output/
notebooks/.ipynb_checkpoints/check_data-checkpoint.ipynb
notebooks/.ipynb_checkpoints/exploration-checkpoint.ipynb
src/__pycache__/config.cpython-37.pyc
